.list-item {
    padding: 0px 2px;
    min-width: 33.33%;
}

@media (min-width: 450px) {
    .list-item {
        min-width: 25%;
    }
}

@media (min-width: 800px) {
    .list-item {
        min-width: 16.66666%;
    }
}

@media (min-width: 1100px) {
    .list-item {
        min-width: 14.2857%;
        z-index: auto;
    }
}